html,
body
{
    height: 100%;
    margin: 0;
}

.centered
{
    text-align:center;
    padding-right: 5vw;
    padding-left: 5vw;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.no-break
{
    display: inline;
}

.bold-title
{
    font-weight: bold;
    font-style: oblique;
}

.icon:hover
{
    opacity: 0.75;
}

#landing-header
{
    font-size: 12.5vh;
}

#icons-container
{
    padding-top: 5vh;
}

a
{
    color: inherit;
}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { opacity: 0.75 }
