/* -- OVERAL STYLES -- */

html,
body
{
    height: 100%;
    margin: 0;
}

.navbar
{
    margin-bottom: 0;
}


.centered
{
    text-align:center;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.no-break
{
    display: inline;
}

.bold-title
{
    font-weight: bold;
    font-style: oblique;
}


#landing-header
{
    font-size: 15vh;
}

#icons-container
{
    padding-top: 5vh;
}


/* -- STYLES SHARED ACROSS SECTIONS -- */
section
{
    height: 100vh;
}

.secondary-section
{
    padding-top: 100px;
}


/* -- INDIVIDUAL SECTION STYLES -- */
#profile
{
    background-color: darkslategrey;
}

#play
{
    background-color: transparent;
}

#professional
{
    background-color: darkslategray;
}

/* -- SPECIFIC ELEMENT STYLES -- */
