/* -- OVERAL STYLES -- */

html,
body
{
    height: 100%;
    margin: 0;
}

.navbar
{
    margin-bottom: 0;
}

.centered
{
    text-align:center;
}

#landing-header
{
    font-size: 20vh;
    padding-bottom: 5vh;
}


/* -- STYLES SHARED ACROSS SECTIONS -- */
section
{
    padding-top: 100px;
    height: 100vh;
}

/* -- INDIVUDUAL SECTION STYLES -- */
#profile
{
    background-color: darkslategrey;
}

#play
{
    background-color: transparent;
}

#professional
{
    background-color: darkslategray;
}