/* --- ALL VIEWS --- */

/* Global styles*/
html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    max-width: 100vw;
    height: 100%;
}
/* Clearfix hack */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}

.cf {
    *zoom:1;
}


#hide-overflow-wrapper {
    overflow: hidden;
}

.content-wrapper {
    margin: 0 auto;
    padding: 75px 0;
    width: 100vw;
    text-align: center;
}

/* Apply a natural box layout model to all elements,
but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

a {
     text-decoration: none;
     color: white;
     font-weight: bolder;
}

h1 {
    font-family: 'Droid Serif', serif;
    font-size: 600%;
    color: white;
    padding-bottom: 2px;
    margin-bottom: 0px;
    text-shadow: -1px 0.5px 0.5px cornflowerblue;
}


/* Sections */
section {
        height: 100vh;
        padding-top: 5vh;
}


/* Tagline and section sub-headers */
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 175%;
    color: white;
    padding: 0;
    margin: 0;
}

/* Section headers */
section h2 {
    font-family: 'Droid Serif', serif;
    font-size: 250%;
    color: white;
    padding: 0;
    margin: 0;
}

section a:hover {
    color: LightBlue;
}

section p {
    font-size: 105%;
    word-spacing: 1px;
    margin: 0;
    padding-top: 2px;
}

section a {
    text-decoration: none;
    font-size: 85%;
    color: white;
    font-weight: bold;
}

.colouredsection {
    background-repeat: no-repeat;
    background-color: rgb(16, 77, 161);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}


.colouredsection h5 {
    margin-bottom: 1vh;
}

.transpsection {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.transpsection h5 {
}

h2 {
     font-size: 300%;
     font-family: 'Lato', sans-serif;
}

h5 {
    font-size: 125%;
    margin-top: 3vh;
}

/* Nav */
nav {
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: cornflowerblue;
    opacity: 0.9;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.navbutton {
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.header-icon {
    max-height: 7vh;
    height: auto;
    width: auto\9; /* ie8 */
    padding-left: 15px;
    padding-right: 15px;
}

.navbutton:hover{
    font-weight: normal;
}

nav a {
    display: inline-block;
    font-size: 1.5em;
    font-weight: lighter;
    cursor:pointer;
    color: white;
    text-decoration: none;
}


.header-wrapper h4 {
    text-shadow: -1px 0.5px 0.5px cornflowerblue;
}

/* Header Section*/
header {
    background-image: linear-gradient(rgba(47,79,79, 0.8), rgba(108,108,108, 0.2)), url(../images/header-bkg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

#header-wrapper {
    padding-top: 15vh;
}

#header-icons-wrapper {
    padding-top: 10vh;
}

#professional-wrapper h4 {
    font-family: 'Droid Serif', serif;
}

/* Professional Section */
.professional-section h4 {
    font-family: "Droid Serif", serif;
}

#professional-content-wrapper p {
    padding: 0;
    margin: 0;
}

#professional-wrapper {
    height: 100vh;
    overflow: hidden;
}

.professional-section {
    float: left;
    width: 50%;
    padding-top: 1.5%;
    text-align: left;
}

#work {
}

#work-wrapper {
   padding-left: 20%;
}

.work-entry {
    padding-top: 3%;
}

.work-position {
    padding: 0px;
    margin: 0px;
    font-style: italic;
    font-color: white;
    font-size: 110%;
}

#tech-wrapper {
    padding-left: 18%;
}

.tech-entry {
    padding-top: 4%;
}

/* Play Section */
#play {
    background-image: linear-gradient(rgba(47,79,79, 0.6), rgba(108,108,108, 0.2)), url(../images/play-bkg.png);
    background-repeat: no-repeat;
}

/* Practice Session */
#practice {
}

/* Profile Section */
#profile {
    background-image: linear-gradient(rgba(47,79,79, 0.8), rgba(108,108,108, 0.5)), url(../images/profile-bkg.JPG);
    background-size: cover;
    background-position: center;
}

#profile-content-wrapper {
    padding-top: 7vh;
    padding-bottom: 0px;
}

#okc-image {
     opacity: 0.9;
     max-width:40vw;
     height: auto;
     padding-top: 5px;
     padding-bottom: 0;
     margin: 0;
}


/*
Breakpoints:
Tablet landscape: 1024px
Tablet portrait: 940px
Small tablet: 768px;
Mobile landscape: 600
Mobile portrait: 480;
*/

@media (max-width: 1024px) {
    .content-wrapper {
        padding: 40px 0;
    }

    section h4 {
        font-size: 125%;     
    }

    #work-wrapper {
        padding-left: 8%;; 
    }

    #tech-wrapper {
        padding-left: 10%;
    }

    #profile {
        padding-top: 5%;
    }

    #okc-image {
        display: none;
    } 
}

@media (max-width: 940px) {

    section p {
        font-size: 90%;        
    }

    #profile {
        padding-top: 7vh;
    }
    
    .work-position {
        font-size: 103%;
        font-weight: bolder;
    }
}

@media (max-width: 885px) {

    section p {
        font-size: 100% !important;
    }

    .navbutton {
        padding-top: 9px;
    }

    #professional {
        height: 200vh;
        background-size: cover;
    }

    #professional-content-wrapper {
        float: left;
    }

    #professional-wrapper {
         height: 200vh;
         overflow: hidden;
     }

    .professional-section {
        height: 200vh%;
        width: 100vw;
        padding-top: 1.5%;
        text-align: left;
        float: none;
    }

    #work-wrapper {
        width: 100vw;
    }

    #work-wrapper p {
        width: 40vw;
    }

    .work-entry {
        float: left;
        padding-right: 7vh;
    }

    .work-description {
        clear: both;
    }

    #tech-wrapper {
        float: none;
        margin-top: 15px;
        padding-left: 8%;
    }
}

@media (max-width: 635px) {
    nav {
        height: auto;
    }

    .navbutton {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .profbutton {
        padding-right: 15px !important;
    }

    nav a {
        font-size: 1.3em;        
    }

    h1 {
        font-size: 8vh;
        padding-top: 25vh;
    }

    section {
        padding-top: 10vh;
    }

    #work-wrapper p{
        width: 100%;
    }

    #professional {
        height: auto;
        overflow: hidden;
    }

    #professional-content-wrapper {
        float: none;
    }

    .work-entry {
        float: none;
    }

    .tech-entry {
        padding-right: 7vh;
    }

    .work-position {
        font-weight: lighter;
        font-style: normal;
    }

    .work-description {
        display: none; 
    }
}

@media (max-width: 480px) {
    #profile {
        background-size: contain;
    }
}  
