/* --- ALL VIEWS --- */

/* Global styles*/
html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    max-width: 100vw;
    height: 100%;
}

#hide-overflow-wrapper {
    overflow: hidden;
}

.content-wrapper {
    margin: 0 auto;
    padding: 75px 0;
    width: 100vw;
    text-align: center;
}

/* Apply a natural box layout model to all elements,
but allowing components to change */
*, *:before, *:after {
  box-sizing: inherit;
}

a {
     text-decoration: none;
     color: white;
     font-weight: bolder;
}

/* Sections */
section {
        height: 100vh;
        padding-top: 5vh;
}

section a:hover {
    color: LightBlue;
}

.colouredsection {
    background-color: rgb(16, 77, 161);
    color: white;
}

.transpsection {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* Nav */
.navbutton:hover{
    font-weight: normal;
}

nav a {
    display: inline-block;
    font-size: 1.5em;
    cursor:pointer;
    color: white;
    text-decoration: none;
}


.header-wrapper h4 {
    text-shadow: -1px 0.5px 0.5px black;
}

/* Header Section*/
header {
    background-image: linear-gradient(rgba(47,79,79, 0.8), rgba(108,108,108, 0.2)), url(../images/header-bkg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

#header-wrapper {
    padding-top: 15vh;
}

#header-icons-wrapper {
    padding-top: 10vh;
}

#professional-wrapper h4 {
    font-family: 'Droid Serif', serif;
}

/* Professional Section */
#professional {
}

.professional-section h4 {
    font-family: "Droid Serif", serif;
}

#professional-content-wrapper p {
    padding: 0;
    margin: 0;
}

#professional-wrapper {
    overflow: hidden;
}

.professional-section {
    float: left;
    width: 50%;
    padding-top: 1.5%;
    text-align: left;
}

.work-position {
    padding: 0px;
    margin: 0px;
    font-style: italic;
    font-color: white;
    font-size: 110%;
}

/* Play Section */
#play {
    background-image: linear-gradient(rgba(47,79,79, 0.6), rgba(108,108,108, 0.2)), url(../images/play-bkg.png);
    background-repeat: no-repeat;
}

/* Practice Session */
#practice {
}

/* Profile Section */
#profile {
    background-image: linear-gradient(rgba(47,79,79, 0.8), rgba(108,108,108, 0.5)), url(../images/profile-bkg.JPG);
    background-size: cover;
    background-position: center;
}

#profile-content-wrapper {
    padding-top: 7vh;
    padding-bottom: 0px;
}

#okc-image {
     opacity: 0.9;
     max-width: 42vw;
     height: auto;
     padding-top: 5px;
     padding-bottom: 0;
     margin: 0;
}


/*
Breakpoints:
Tablet landscape: 1024px
Tablet portrait: 940px
Small tablet: 768px;
Mobile landscape: 600
Mobile portrait: 480;
*/

@media (min-width 1024px) {

    section p {
        font-size: 105%;
        word-spacing: 1px;
        margin: 0;
        padding-top: 2px;
    }

    section a {
        text-decoration: none;
        font-size: 85%;
        color: white;
        font-weight: bold;
    }
}



@media (min-width 1024px) {
    .colouredsection h5 {
        font-size: 125%;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
}



@media (min-width 1024px) {
    .transpsection h5 {
        font-size: 125%;
        margin-top: 3vh;
    }
}



@media (min-width 1024px) {
    h2 {
       font-size: 300%;
       font-family: 'Lato', sans-serif;
    }
}




/* -- NAV BAR --*/
nav {
    height: 10vh;
    width: 100vw;
    position: fixed;
    background-color: cornflowerblue;
    opacity: 0.85;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.navbutton {
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.header-icon {
    max-height: 7vh;
    height: auto;
    width: auto\9; /* ie8 */
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: 'Droid Serif', serif;
    font-size: 600%;
    color: white;
    padding-bottom: 2px;
    margin-bottom: 0px;
    text-shadow: -1px 0.5px 0.5px black;
}

/* Section headers */
h2 {
    font-family: 'Droid Serif', serif;
    font-size: 250%;
    color: white;
    padding: 0;
    margin: 0;
}

/* Tagline and section sub-headers */
h4 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 175%;
    color: white;
    padding: 0;
    margin: 0;
}

#work {
}

#work-wrapper {
   padding-left: 20%;
}

.work-entry {
    padding-top: 3%;
}

#tech-wrapper {
    padding-left: 18%;
}

.tech-entry {
    padding-top: 4%;
}
